/* Base styles */
body {
    font-family: 'Comic Sans MS', sans-serif;
    background-color: #fef5f7;
    margin: 0;
    padding: 0;
    color: #555;
}

.header {
    display: flex;
    justify-content: flex-end;
    padding: 10px;
    background-color: #e1bee7;
}

.login-container {
    background-color: #f3e5f5;
    max-width: 400px;
    margin: 100px auto;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
}

.login-container h2 {
    color: #8e44ad;
    font-family: 'Comic Sans MS', cursive;
    margin-bottom: 20px;
}

.login-container label {
    display: block;
    margin: 10px 0 5px;
    color: #4a235a;
}

.login-container input {
    width: 90%;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    margin-bottom: 20px;
}

.login-container button {
    background-color: #8e44ad;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.login-container button:hover {
    background-color: #5e3370;
}

.login-container p {
    margin-top: 15px;
    color: #555;
}

.login-container a {
    color: #8e44ad;
    text-decoration: none;
}

.login-container a:hover {
    text-decoration: underline;
}

/* Banner styles */
.banner {
    background-color: #e1bee7;
    color: #5e3370;
    text-align: center;
    padding: 40px;
    border-radius: 30px;
    margin: 50px auto;
    max-width: 1200px;
    width: 95%;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
}

.banner h1 {
    font-family: 'Comic Sans MS', cursive, sans-serif;
    font-size: 2.5em;
    margin: 10px 0;
    color: #8e44ad;
}

.banner h2 {
    font-size: 1.8em;
    color: #4a235a;
    text-shadow: 2px 2px #FFD6FF;
}

/* Container styles */
.container {
    background-color: #f3e5f5;
    padding: 20px;
    border-radius: 20px;
    margin: 20px auto;
    width: 90%;
    max-width: 900px;
    box-shadow: 0px 6px 12px rgba(0, 0, 0, 0.1);
}

/* Album information styles */
.album-info {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
}

.album-cover {
    width: 150px;
    height: 150px;
    border-radius: 15px;
    margin-right: 30px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
}

.album-details h2 {
    font-size: 1.5em;
}

.album-details h3 {
    font-size: 1.2em;
}

/* Audio list and controls */
.audio-list {
    display: flex;
    justify-content: space-between;
    margin-top: 30px;
}

.audio-column {
    flex: 1;
    padding: 0 10px;
}

.audio-item {
    background-color: #e1bee7;
    padding: 10px;
    margin-bottom: 20px;
    border-radius: 10px;
    cursor: pointer;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
}

.audio-item p {
    font-size: 1.2em;
    font-weight: bold;
    color: #4a235a;
    text-align: center;
}

.controls {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
}

.controls button {
    background-color: #8e44ad;
    color: #fff;
    padding: 10px;
    margin-right: 10px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
}

.controls button:hover {
    background-color: #5e3370;
}

.controls input[type="range"] {
    width: 100px;
    margin-left: 10px;
}

/* Media Queries for Mobile and Desktop */

/* Mobile-specific styles (max-width: 600px) */
@media (max-width: 600px) {
    /* Adjust banner for mobile */
    .banner {
        padding: 20px;
        margin: 20px auto;
        width: 89%;
        border-radius: 20px;
    }

    .banner h1 {
        font-size: 1.8em;
        margin: 10px 0;
    }

    .banner h2 {
        font-size: 1.2em;
        margin: 10px 0;
    }

    /* Adjust audio list to single column for mobile */
    .audio-list {
        display: block;
        text-align: center;
    }

    .audio-column {
        padding: 0;
    }

    .audio-item {
        width: 90%;
        margin: 10px auto;
    }

    /* Adjust controls */

    .controls button {
        width: 20%;
        margin-bottom: 10px;
    }

    .album-info {
        flex-direction: column;
    }

    .album-cover {
        margin: 0 0 20px 0;
    }
}

/* Desktop-specific styles (min-width: 601px) */
@media (min-width: 601px) {
    /* Two-column layout for audio list */
    .audio-list {
        display: flex;
    }

    .audio-column {
        padding: 0 10px;
    }

    .audio-item {
        width: auto;
    }
}
